{% extends 'app/base.html' %}

{% block contenido %}
<h1>Gestión de Negocios</h1>

<!-- formulario de agregar negocio -->
{% include 'administration/negocio/add_negocio.html' %}

<!-- Lista de negocios -->
<h2>Negocios Registrados</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Giro</th>
            <th>RUT Empresa</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Dirección del Almacén</th>
            <th>Estado</th>
            <th>Mayorista</th> 
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for negocio in negocios %}
        <tr>
            <td>{{ negocio.id }}</td>
            <td>{{ negocio.nombre }}</td>
            <td>{{ negocio.giro }}</td>
            <td>{{ negocio.rut_empresa }}</td>
            <td>{{ negocio.direccion }}</td>
            <td>{{ negocio.telefono }}</td>
            <td>{{ negocio.almacen_set.first.direccion }}</td>
            <td>
                {% if negocio.is_active %}
                    Activo
                {% else %}
                    Inactivo
                {% endif %}
            </td>
            <td>
                {% if negocio.is_mayorista %}
                    Sí
                {% else %}
                    No
                {% endif %}
            </td>
            <td>
                <a href="{% url 'mod_negocio' negocio.id %}" class="btn btn-warning">Modificar</a>
                <a href="{% url 'erase_negocio' negocio.id %}" class="btn btn-danger">Eliminar</a>
                {% if negocio.is_active %}
                    <a href="{% url 'cambiar_estado_negocio' negocio.id %}" class="btn btn-secondary">Inactivar</a>
                {% else %}
                    <a href="{% url 'cambiar_estado_negocio' negocio.id %}" class="btn btn-success">Activar</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>    
</table>

{% endblock %}
