{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
{% load custom_filters %}
<h2>Factura</h2>
<div class="containerFiltros">
    <form method="get" class="mb-3">
        <div class="form-group">
            <label for="buscar">Buscar producto:</label>
            <input type="text" name="buscar" id="buscar" class="form-control" value="{{ palabra_clave }}" placeholder="Buscar producto...">
        </div>

        <div class="form-group">
            <label for="categoria">Filtrar por categoría:</label>
            <select name="categoria" id="categoria" class="form-control">
                <option value="">Todas las categorías</option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}" {% if categoria_filtro == categoria.id %}selected{% endif %}>{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        
        {% if request.user.is_superuser %}
        <div class="form-group">
            <label for="negocio">Filtrar por negocio:</label>
            <select name="negocio" id="negocio" class="form-control">
                <option value="">Todos los negocios</option>
                {% for negocio in negocios %}
                    <option value="{{ negocio.id }}" {% if negocio_filtro == negocio.id %}selected{% endif %}>{{ negocio.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        
        <button type="submit" class="btnFiltros" style="background-color:#1499a3; height:50px">Aplicar Filtros</button>
        <button type="button" class="btnFiltros" style="background-color: rgb(84, 104, 104); height:50px;" data-bs-toggle="modal" data-bs-target="#registrarProductoModal">Ingreso Manual</button>
         
        <button type="button" class="btn btn-info" style="height:50px; transform:translate(60px, -2px)" data-bs-toggle="modal" data-bs-target="#listClienteModal" style="transform:translateX(60px)">
            Gestionar Perfiles de Cliente
        </button>
        
        
        
    </form>
</div>
<div>
    <div class="cardenv">{% comment %}borde exterior que encierra todo  {% endcomment %}
        <!-- Lista de productos -->
        <div class="row">{% comment %} hace que se alineen en horizontal {% endcomment %}
            <div class="col-md-7 cart">
             {% comment %}    <div class="title">
                    <h4><b>Lista de Productos</b></h4>
                </div> {% endcomment %}
               
                <div class="containerEncabezado factura">               
                    <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Stock</th>
                        <th>Precio</th>
                        <th>Desc.</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </div>

                <ul class="list-unstyled">
                    
                    {% for producto in productos %}
                        {% if producto.stock > 0 %}
                        
                        <li class="product-item row main align-items-center border-top border-bottom py-3">
                            <div class="col-4">{{ producto.nombre }}</div>
                            <div class="col-2 stock">{{ producto.stock }}</div>
                            <div class="col-2 precio">{{ producto.precio_mayorista|clp }}</div>
                            <div class="col-2 desc">{{ producto.descuento_mayorista }}%</div>
                            <div class="col-2 btns">
                                <form method="post" action="{% url 'agregar_al_carrito_factura' producto.producto_id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success" style="background-color:#1499a3">Añadir</button>
                                </form>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#precioDescuentoModal{{ producto.producto_id }}" class="btn btn-info btn-sm" style="background-color: rgb(84, 104, 104); border:none;">Descuento</a>
                                <div class="modal fade" id="precioDescuentoModal{{ producto.producto_id }}" tabindex="-1" aria-labelledby="precioDescuentoModalLabel{{ producto.producto_id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="precioDescuentoModalLabel{{ producto.producto_id }}">Asignar Precio/Descuento a {{ producto.nombre }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="transform:translate(15px, -15px); background-color:transparent"></button>
                                            </div>
                                            <form method="POST" action="{% url 'actualizar_descuento_factura' producto.producto_id %}">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label for="descuento" class="form-label">Descuento (%)</label>
                                                        <input type="number" class="form-control" id="descuento" name="descuento" value="{{ producto.descuento_mayorista }}" min="0" max="100" style="transform:translateY(-10px)">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn bg-danger text-light " data-bs-dismiss="modal" style="transform:translate(-80px, -7.5px)">Cancelar</button>
                                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            


            <!-- Resumen del carrito -->
            <div class="col-md-5 summary summary-factura">
                {% comment %} <div><h5><b>Tu Carro (Items)</b></h5></div>{% endcomment %}
                <hr> 

                <div class="containerEncabezado factura" style="transform:translateY(-30px)">               
                    <thead>
                    <tr>
                        <th>Cant.</th>
                        <th>Prod.</th>
                        <th>P.Mayorista</th>
                        <th>P.Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </div>
                {% if carrito_items %}
                <ul class="list-unstyled">
                    {% for item in carrito_items %}
                    <li class="cart-item d-flex justify-content-between align-items-center border-bottom py-3">
                        <div class="col-4">{{ item.cantidad }}</div>
                        <div class="col-2 nombre">{{ item.producto.nombre }}</div>
                        <div class="col-2">{{ item.producto.precio_mayorista|clp }}</div>
                        <div class="col-2">{{ item.total_precio|clp }}</div>
                        <div class="botones">
                            <form method="post" action="{% url 'restar_producto_factura' item.producto.producto_id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" style="transform: translateX(1px);">-</button>
                            </form>
                            <form method="post" action="{% url 'agregar_al_carrito_factura' item.producto.producto_id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">+</button>
                            </form>
                        </div>
                        <form method="post" action="{% url 'eliminar_del_carrito_factura' item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary x" style="background-color: rgb(84, 104, 104);">x</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
                <form method="POST" action="{% url 'confirmar_compra_factura' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="glosa" class="form-label"></label>
                        <textarea class="form-control" id="glosa" name="glosa" placeholder="Ingrese una glosa para la factura"></textarea>
                    </div>
                    <div class="border-top py-3">
                        <div class="col"><strong>SubTotal:</strong> {{ carrito_subtotal|clp }} </div>
                        <div class="col"><strong>Descuento:</strong> -{{ carrito_descuento_total|clp }}</div>
                        <div class="col"><strong>ImpuestoIVA:</strong> {{ carrito_iva|clp }}</div>
                        <div class="col text-right"><strong>MontoTotal:</strong> {{ carrito_total|clp }}</div>
                    </div>
                    <div class="mb-3">
                        <label for="medio_pago" class="form-label" style="transform: translateY(-65px);">Medio de Pago</label>
                        <select class="form-select" id="medio_pago" name="medio_pago">
                            <option value="" disabled selected>Seleccione un medio de pago</option>
                            <option value="efectivo">Efectivo</option>
                            <option value="tarjeta_debito">Tarjeta Débito</option>
                            <option value="tarjeta_credito">Tarjeta Crédito</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="correo" class="form-label" style="transform: translate(-48px, -85px);">Correo electrónico (opcional)</label>
                            <input type="email" id="correo" name="correo" class="form-control" placeholder="Escribe para buscar o crear" style="width:490px; transform:translate(-48px, -85px)">
                            <input type="hidden" id="correo_id" name="correo_id">
                            <div id="correo_suggestions" class="suggestions-box border border-light rounded-1 border-3" style="transform:translate(-50px, -80px); height:40px; text-align:center;" ></div>
                        </div>
                            <style>
                                .suggestions-box {
                                    border: 1px solid #ddd;
                                    background-color: #fff;
                                    max-height: 200px;
                                    overflow-y: auto;
                                    position: absolute;
                                    z-index: 1000;
                                    width: 100%;
                                    display: none;
                                }
                                .suggestion-item {
                                    padding: 10px;
                                    cursor: pointer;
                                }
                                .suggestion-item:hover {
                                    background-color: #f0f0f0;
                                }
                                .suggestion-item.active {
                                    background-color: #007bff;
                                    color: #fff;
                                }
                            </style>
                            
                        </div>                            
                    </div>                 
                    <div id="mensaje-medio-pago" style="display: none; color: red; margin-top: 10px;"></div>
                    <div class="d-flex justify-content-between w-100 mt-3">                          
                        <!-- Botón para pagar -->
                        <button type="submit" class="btn btn-success w-35" style="width: 10%; transform:translate(150vh ,-10vh )"id="pagar-btn">Pagar</button>
                    </div>
                </form>
                <form method="post" action="{% url 'vaciar_carrito_factura' %}" style="width: 30%;">
                    {% csrf_token %}
                    <input type="hidden" name="cancelar" value="true">
                    <button type="submit" class="btn btn-danger w-30" style="transform:translate(115vh, -15vh)" >Cancelar</button>
                </form>           
                {% else %}
                <p>Tu carrito está vacío.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!--Borrar cliente-->
    <div class="modal fade" id="eraseClienteModal" tabindex="-1" aria-labelledby="eraseClienteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eraseClienteModalLabel">Eliminar Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas eliminar este cliente?</p>
                    <form method="post" id="erase-cliente-form">
                        {% csrf_token %}
                        <input type="hidden" id="cliente-id" name="cliente_id">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!--Mod cliente-->
    <div class="modal fade" id="modClienteModal" tabindex="-1" aria-labelledby="modClienteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content editar">
                <div class="modal-header">
                    <h5 class="modal-title" id="modClienteModalLabel">Editar Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modClienteModalBody">
                    <!-- Formulario cargado dinámicamente -->
                </div>
            </div>
        </div>
    </div>
    
    <!--Modal listar clientes-->
    <div class="modal fade" id="listClienteModal" tabindex="-1" aria-labelledby="listClienteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="listClienteModalLabel">Gestión de Perfiles de Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="formAddCliente">
                        <form method="post" id="add-cliente-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="correo" style="transform:translateY(-7px)">Correo Electrónico</label>
                                <input type="email" id="correo" name="correo" class="form-control" placeholder="correo@ejemplo.com" required style="width:300px; transform:translateY(-2px)">
                            </div>
                            <button type="submit" class="btn btn-primary mt-3" style="transform:translate(60px, -11px)">Registrar Cliente</button>
                        </form>
                    </div>

                {% comment %}     <table class="table" style="transform:translateY(-250px);">
                    <thead>
                        <tr>
                            <th>Email Cliente</th>
                          
                            <th>Opciones</th>
                        </tr>
                    </thead> {% endcomment %}
                    <hr>
                    <div id="clienteList" class="table-container"style="transform:translateY(50px);" >
                        
                  
                        {% for cliente in clientes %}
                        <div class="row mb-2">
                          
                           
                            <div class="col">{{ cliente.correo }}</div>
                           
                            <div class="col-auto">
                                <button class="btn btn-warning btn-sm modificar-cliente" data-id="{{ cliente.id }}" data-bs-toggle="modal" data-bs-target="#modClienteModal">Editar</button>
                                <button class="btn btn-danger btn-sm eliminar-cliente" data-id="{{ cliente.id }}" data-bs-toggle="modal" data-bs-target="#eraseClienteModal">Eliminar</button>
                            </div>
                        </div>
                        {% endfor %}
                   
            </div>
                </div>
            </div>
        </div>
   
    </div>


     <!-- Modal para ingreso manual -->
     <div class="modal fade" id="registrarProductoModal" tabindex="-1" aria-labelledby="registrarProductoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registrarProductoLabel">Registrar Producto para Factura</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body" id="modal-body-content">
                    <!-- El contenido dinámico del formulario se cargará aquí -->
                </div>
            </div>
        </div>
    </div>
    
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const medioPagoSelect = document.getElementById('medio_pago');
        const pagarBtn = document.getElementById('pagar-btn');
        const mensajeError = document.getElementById('mensaje-medio-pago');

        medioPagoSelect.addEventListener('change', function () {
            if (medioPagoSelect.value) {
                pagarBtn.disabled = false;
                mensajeError.style.display = 'none';
            } else {
                pagarBtn.disabled = true;
                mensajeError.style.display = 'block';
            }
        });

        pagarBtn.addEventListener('click', function (event) {
            if (!medioPagoSelect.value) {
                event.preventDefault();
                mensajeError.style.display = 'block';
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        // Envío de formulario para agregar cliente
        $("#add-cliente-form").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "{% url 'list_clientes' %}",
                type: "POST",
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        alert("Cliente registrado");
                        location.reload();
                    } else {
                        alert(response.message);
                    }
                },
            });
        });
    
        // Cargar formulario de edición en modal
        $(".modificar-cliente").click(function () {
            const clienteId = $(this).data("id"); // Obtiene el id del cliente desde el atributo data-id
            if (clienteId) {
                $.get(`/socios/cuentas/modificar/${clienteId}/`, function (data) {
                    $("#modClienteModalBody").html(data.html_form);
                });
            } else {
                alert("No se pudo identificar el cliente.");
            }
        });
        
    
        // Envío del formulario de edición
        $(document).on("submit", "#mod-cliente-form", function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("action"),
                type: "POST",
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        alert("Cliente modificado");
                        location.reload();
                    } else {
                        alert(response.message);
                    }
                },
            });
        });
    
        // Confirmar eliminación
        $(".eliminar-cliente").click(function () {
            const clienteId = $(this).data("id");
            $("#cliente-id").val(clienteId);
        });
    
        // Envío del formulario de eliminación
        $("#erase-cliente-form").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "{% url 'erase_cliente' %}",
                type: "POST",
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        alert("Cliente eliminado");
                        location.reload();
                    } else {
                        alert(response.message);
                    }
                },
            });
        });
    });
     
</script>
<script>
    $(document).ready(function () {
        function setupAutocomplete(inputSelector, hiddenSelector, suggestionsSelector, url) {
            const $input = $(inputSelector);
            const $hidden = $(hiddenSelector);
            const $suggestions = $(suggestionsSelector);
    
            $input.on("input", function () {
                const term = $input.val().trim();
                if (term.length < 2) {
                    $suggestions.hide();
                    return;
                }
    
                $.ajax({
                    url: url,
                    data: { term: term },
                    dataType: "json",
                    success: function (data) {
                        $suggestions.empty().show();
                        if (data.length === 0) {
                            $suggestions.hide();
                            return;
                        }
                        data.forEach((item) => {
                            $suggestions.append(
                                `<div class="suggestion-item" data-id="${item.id}" data-value="${item.value}">${item.label}</div>`
                            );
                        });
    
                        $(".suggestion-item").on("click", function () {
                            const value = $(this).data("value");
                            const id = $(this).data("id");
    
                            $input.val(value);
                            $hidden.val(id);
                            $suggestions.hide();
                        });
                    },
                });
            });
    
            $(document).on("click", function (e) {
                if (!$(e.target).closest($suggestions).length && !$(e.target).is($input)) {
                    $suggestions.hide();
                }
            });
        }
    
        setupAutocomplete(
            "#correo", // Input del correo
            "#correo_id", // Campo oculto para ID del correo
            "#correo_suggestions", // Contenedor de sugerencias
            "/buscar_correo/" // URL de búsqueda
        );
    });
    
    
</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const productosConBajoStock = [{% for producto in productos %}{% if producto.stock < 5 %}{{ producto.producto_id }}, {% endif %}{% endfor %}];
        
        if (productosConBajoStock.length > 0) {
            document.getElementById('alerta-bajo-stock').style.display = 'block';
        }
    });
</script>

<script>
    $(document).ready(function () {
        // Cargar el formulario dinámicamente al abrir el modal
        $('#registrarProductoModal').on('show.bs.modal', function () {
            console.log("Cargando formulario de registro de producto para factura...");
            $.get("{% url 'reg_prod_factura' %}", function (data) {
                $('#modal-body-content').html(data);
            });
        });

        // Procesar el envío del formulario mediante AJAX
        $('#modal-body-content').on('submit', '#reg-prod-factura-form', function (e) {
            e.preventDefault();
            $.ajax({
                url: "{% url 'reg_prod_factura' %}",
                type: "POST",
                data: $(this).serialize(),
                success: function (data) {
                    if (data.success) {
                        $('#registrarProductoModal').modal('hide');
                        location.reload();
                    } else {
                        $('#modal-body-content').html(data.html_form);
                    }
                },
            });
        });
    });
</script>


{% endblock %}
