{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
{% load custom_filters %}
<h2>Factura</h2>
<div class="containerFiltros">
    <form method="get" class="mb-3">
        <div class="form-group">
            <label for="buscar">Buscar producto:</label>
            <input type="text" name="buscar" id="buscar" class="form-control" value="{{ palabra_clave }}" placeholder="Buscar producto...">
        </div>

        <div class="form-group">
            <label for="categoria">Filtrar por categoría:</label>
            <select name="categoria" id="categoria" class="form-control">
                <option value="">Todas las categorías</option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}" {% if categoria_filtro == categoria.id %}selected{% endif %}>{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        
        {% if request.user.is_superuser %}
        <div class="form-group">
            <label for="negocio">Filtrar por negocio:</label>
            <select name="negocio" id="negocio" class="form-control">
                <option value="">Todos los negocios</option>
                {% for negocio in negocios %}
                    <option value="{{ negocio.id }}" {% if negocio_filtro == negocio.id %}selected{% endif %}>{{ negocio.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        
        <button type="submit" class="btnFiltros" style="background-color:#1499a3; height:50px">Aplicar Filtros</button>
        <button type="button" class="btnFiltros" style="background-color: rgb(84, 104, 104); height:50px;" data-bs-toggle="modal" data-bs-target="#registrarProductoModal">Ingreso Manual</button>
         
        <button type="button" class="btn btn-info" style="height:50px; transform:translate(60px, -2px)" data-bs-toggle="modal" data-bs-target="#listEmpresaModal" style="transform:translateX(60px)">
            Gestionar Perfiles de Cliente
        </button>       
    </form>
</div>
<div>
    <div class="cardenv">{% comment %}borde exterior que encierra todo  {% endcomment %}
        <!-- Lista de productos -->
        <div class="row">{% comment %} hace que se alineen en horizontal {% endcomment %}
            <div class="col-md-7 cart">
             {% comment %}    <div class="title">
                    <h4><b>Lista de Productos</b></h4>
                </div> {% endcomment %}
               
                <div class="containerEncabezado factura">               
                    <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Stock</th>
                        <th>Precio</th>
                        <th>Desc.</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </div>

                <ul class="list-unstyled">
                    
                    {% for producto in productos %}
                        {% if producto.stock > 0 %}
                        
                        <li class="product-item row main align-items-center border-top border-bottom py-3">
                            <div class="col-4">{{ producto.nombre }}</div>
                            <div class="col-2 stock">{{ producto.stock }}</div>
                            <div class="col-2 precio">{{ producto.precio_mayorista|clp }}</div>
                            <div class="col-2 desc">{{ producto.descuento_mayorista }}%</div>
                            <div class="col-2 btns">
                                <form method="post" action="{% url 'agregar_al_carrito_factura' producto.producto_id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success" style="background-color:#1499a3">Añadir</button>
                                </form>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#precioDescuentoModal{{ producto.producto_id }}" class="btn btn-info btn-sm" style="background-color: rgb(84, 104, 104); border:none;">Descuento</a>
                                <div class="modal fade" id="precioDescuentoModal{{ producto.producto_id }}" tabindex="-1" aria-labelledby="precioDescuentoModalLabel{{ producto.producto_id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="precioDescuentoModalLabel{{ producto.producto_id }}">Asignar Precio/Descuento a {{ producto.nombre }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="transform:translate(15px, -15px); background-color:transparent"></button>
                                            </div>
                                            <form method="POST" action="{% url 'actualizar_descuento_factura' producto.producto_id %}">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label for="descuento" class="form-label">Descuento (%)</label>
                                                        <input type="number" class="form-control" id="descuento" name="descuento" value="{{ producto.descuento_mayorista }}" min="0" max="100" style="transform:translateY(-10px)">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn bg-danger text-light " data-bs-dismiss="modal" style="transform:translate(-80px, -7.5px)">Cancelar</button>
                                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            
            <!-- Resumen del carrito -->
            <div class="col-md-5 summary summary-factura">
                {% comment %} <div><h5><b>Tu Carro (Items)</b></h5></div>{% endcomment %}
                <hr> 

                <div class="containerEncabezado factura" style="transform:translateY(-30px)">               
                    <thead>
                    <tr>
                        <th>Cant.</th>
                        <th>Prod.</th>
                        <th>P.Mayorista</th>
                        <th>P.Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </div>
                {% if carrito_items %}
                <ul class="list-unstyled">
                    {% for item in carrito_items %}
                    <li class="cart-item d-flex justify-content-between align-items-center border-bottom py-3">
                        <div class="col-4">{{ item.cantidad }}</div>
                        <div class="col-2 nombre">{{ item.producto.nombre }}</div>
                        <div class="col-2">{{ item.producto.precio_mayorista|clp }}</div>
                        <div class="col-2">{{ item.total_precio|clp }}</div>
                        <div class="botones">
                            <form method="post" action="{% url 'restar_producto_factura' item.producto.producto_id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" style="transform: translateX(1px);">-</button>
                            </form>
                            <form method="post" action="{% url 'agregar_al_carrito_factura' item.producto.producto_id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">+</button>
                            </form>
                        </div>
                        <form method="post" action="{% url 'eliminar_del_carrito_factura' item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary x" style="background-color: rgb(84, 104, 104);">x</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
                <form method="POST" action="{% url 'confirmar_compra_factura' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="glosa" class="form-label"></label>
                        <textarea class="form-control" id="glosa" name="glosa" placeholder="Ingrese una glosa para la factura"></textarea>
                    </div>
                    <div class="border-top py-3">
                        <div class="col"><strong>SubTotal:</strong> {{ carrito_subtotal|clp }} </div>
                        <div class="col"><strong>Descuento:</strong> -{{ carrito_descuento_total|clp }}</div>
                        <div class="col"><strong>ImpuestoIVA:</strong> {{ carrito_iva|clp }}</div>
                        <div class="col text-right"><strong>MontoTotal:</strong> {{ carrito_total|clp }}</div>
                    </div>
                    <div class="mb-3">
                        <label for="medio_pago" class="form-label" style="transform: translateY(-65px);">Medio de Pago</label>
                        <select class="form-select" id="medio_pago" name="medio_pago">
                            <option value="" disabled selected>Seleccione un medio de pago</option>
                            <option value="efectivo">Efectivo</option>
                            <option value="tarjeta_debito">Tarjeta Débito</option>
                            <option value="tarjeta_credito">Tarjeta Crédito</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="correo" class="form-label" style="transform: translate(-48px, -85px);">Correo electrónico (opcional)</label>
                            <input type="email" id="correo" name="correo" class="form-control" placeholder="Escribe para buscar o crear" style="width:490px; transform:translate(-48px, -85px)">
                            <input type="hidden" id="correo_id" name="correo_id">
                            <div id="correo_suggestions" class="suggestions-box border border-light rounded-1 border-3" style="transform:translate(-50px, -80px); height:40px; text-align:center;" ></div>
                        </div>
                            <style>
                                .suggestions-box {
                                    border: 1px solid #ddd;
                                    background-color: #fff;
                                    max-height: 200px;
                                    overflow-y: auto;
                                    position: absolute;
                                    z-index: 1000;
                                    width: 100%;
                                    display: none;
                                }
                                .suggestion-item {
                                    padding: 10px;
                                    cursor: pointer;
                                }
                                .suggestion-item:hover {
                                    background-color: #f0f0f0;
                                }
                                .suggestion-item.active {
                                    background-color: #007bff;
                                    color: #fff;
                                }
                            </style>
                            
                        </div>                            
                    </div>                 
                    <div id="mensaje-medio-pago" style="display: none; color: red; margin-top: 10px;"></div>
                    <div class="d-flex justify-content-between w-100 mt-3">                          
                        <!-- Botón para pagar -->
                        <button type="submit" class="btn btn-success w-35" style="width: 10%; transform:translate(150vh ,-10vh )"id="pagar-btn">Pagar</button>
                    </div>
                </form>
                <form method="post" action="{% url 'vaciar_carrito_factura' %}" style="width: 30%;">
                    {% csrf_token %}
                    <input type="hidden" name="cancelar" value="true">
                    <button type="submit" class="btn btn-danger w-30" style="transform:translate(115vh, -15vh)" >Cancelar</button>
                </form>           
                {% else %}
                <p>Tu carrito está vacío.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Modal para gestión de empresas -->
    <div class="modal fade" id="listEmpresaModal" tabindex="-1" aria-labelledby="listEmpresaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="listEmpresaModalLabel">Gestión de Empresas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="empresaForm" method="POST">
                        {% csrf_token %}
                        <div class="form-group" style="transform:translateX(5px);">
                            <label for="id_region" style="">Región:</label>
                            <select id="id_region" name="region" class="form-control">
                                <option value="">Seleccione una región</option>
                                {% for region in regions %}
                                <option value="{{ region.id }}">{{ region.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group" style="transform:translateX(5px);">
                            <label for="id_provincia">Provincia:</label>
                            <select id="id_provincia" name="provincia" class="form-control" disabled>
                                <option value="">Seleccione una provincia</option>
                            </select>
                        </div>
                        
                        <div class="form-group" style="transform:translateX(5px);">
                            <label for="id_comuna">Comuna:</label>
                            <select id="id_comuna" name="comuna" class="form-control" disabled>
                                <option value="">Seleccione una comuna</option>
                            </select>
                        </div>
                        
                        {{ empresa_form.as_p }}
                        <p>Formato de RUT: <strong>Sin puntos y con guion (Ejemplo: 12345678-9)</strong></p>     

                        <input type="hidden" name="accion" value="crear">
                        <button type="submit" class="btn btn-primary">Guardar Empresa</button>
                    </form>
                    <hr>
                    <ul id="empresa-list" class="list-group">
                        {% for empresa in empresas %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span><strong>{{ empresa.nombre }}</strong> ({{ empresa.correo }})</span>
                            <span>
                                <button class="btn btn-warning btn-sm editar-empresa" data-id="{{ empresa.id }}" data-bs-toggle="modal" data-bs-target="#editEmpresaModal">
                                    Editar
                                </button>                                
                                <button class="btn btn-danger btn-sm eliminar-empresa" data-id="{{ empresa.id }}">Eliminar</button>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para editar empresas -->
    <div class="modal fade" id="editEmpresaModal" tabindex="-1" aria-labelledby="editEmpresaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editEmpresaModalLabel">Editar Empresa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editEmpresaForm" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="empresa_id" id="edit-empresa-id">
                        <div class="form-group">
                            <label for="edit-nombre">Nombre</label>
                            <input type="text" name="nombre" id="edit-nombre" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="edit-correo">Correo</label>
                            <input type="email" name="correo" id="edit-correo" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="edit-rut">RUT</label>
                            <input type="text" name="rut_empresa" id="edit-rut" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="edit-direccion">Dirección</label>
                            <input type="text" name="direccion" id="edit-direccion" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="edit-telefono">Teléfono</label>
                            <input type="text" name="telefono" id="edit-telefono" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    


     <!-- Modal para ingreso manual -->
     <div class="modal fade" id="registrarProductoModal" tabindex="-1" aria-labelledby="registrarProductoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registrarProductoLabel">Registrar Producto para Factura</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body" id="modal-body-content">
                    <!-- El contenido dinámico del formulario se cargará aquí -->
                </div>
            </div>
        </div>
    </div>
    
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $("#id_region").change(function () {
        var regionId = $(this).val();
        if (regionId) {
            $.ajax({
                url: "{% url 'cargar_provincias' %}",
                data: { 'region_id': regionId },
                success: function (data) {
                    $("#id_provincia").html('<option value="">Seleccione una provincia</option>');
                    data.forEach(function (item) {
                        $("#id_provincia").append('<option value="' + item.id + '">' + item.nombre + '</option>');
                    });
                    $("#id_provincia").prop('disabled', false);
                }
            });
        } else {
            $("#id_provincia").html('<option value="">Seleccione una provincia</option>').prop('disabled', true);
            $("#id_comuna").html('<option value="">Seleccione una comuna</option>').prop('disabled', true);
        }
    });

    $("#id_provincia").change(function () {
        var provinciaId = $(this).val();
        if (provinciaId) {
            $.ajax({
                url: "{% url 'cargar_comunas' %}",
                data: { 'provincia_id': provinciaId },
                success: function (data) {
                    $("#id_comuna").html('<option value="">Seleccione una comuna</option>');
                    data.forEach(function (item) {
                        $("#id_comuna").append('<option value="' + item.id + '">' + item.nombre + '</option>');
                    });
                    $("#id_comuna").prop('disabled', false);
                }
            });
        } else {
            $("#id_comuna").html('<option value="">Seleccione una comuna</option>').prop('disabled', true);
        }
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const medioPagoSelect = document.getElementById('medio_pago');
        const pagarBtn = document.getElementById('pagar-btn');
        const mensajeError = document.getElementById('mensaje-medio-pago');

        medioPagoSelect.addEventListener('change', function () {
            if (medioPagoSelect.value) {
                pagarBtn.disabled = false;
                mensajeError.style.display = 'none';
            } else {
                pagarBtn.disabled = true;
                mensajeError.style.display = 'block';
            }
        });

        pagarBtn.addEventListener('click', function (event) {
            if (!medioPagoSelect.value) {
                event.preventDefault();
                mensajeError.style.display = 'block';
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        // Crear o modificar empresa
        $("#empresaForm").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "{% url 'gestionar_empresas' %}",
                type: "POST",
                data: $(this).serialize(),
                success: function (response) {
                    alert(response.message);
                    if (response.success) location.reload();
                },
            });
        });
    
        // Editar empresa
        $(document).on('click', '.editar-empresa', function () {
            const empresaId = $(this).data("id");
        
            $.ajax({
                url: "{% url 'gestionar_empresas' %}",
                data: { id: empresaId },
                success: function (response) {
                    // Llenar los campos del modal con los datos de la empresa
                    $('#edit-empresa-id').val(response.id);
                    $('#edit-nombre').val(response.nombre);
                    $('#edit-correo').val(response.correo);
                    $('#edit-rut').val(response.rut_empresa);
                    $('#edit-direccion').val(response.direccion);
                    $('#edit-telefono').val(response.telefono);
        
                    // Seleccionar región, provincia y comuna
                    $('#id_region').val(response.region_id).change();
                    setTimeout(() => {
                        $('#id_provincia').val(response.provincia_id).change();
                    }, 300);
                    setTimeout(() => {
                        $('#id_comuna').val(response.comuna_id);
                    }, 600);
        
                    // Mostrar el modal de edición
                    $('#editEmpresaModal').modal('show');
                },
                error: function () {
                    alert("Error al cargar los datos de la empresa.");
                }
            });
        });
        
    
        // Eliminar empresa
        $(".eliminar-empresa").click(function () {
            const empresaId = $(this).data("id");
            if (confirm("¿Desea eliminar esta empresa?")) {
                $.post("{% url 'gestionar_empresas' %}", {
                    empresa_id: empresaId,
                    accion: "eliminar",
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                }).done(function (response) {
                    alert(response.message);
                    if (response.success) location.reload();
                });
            }
        });
    });
    
     
</script>
<script>
    $(document).ready(function () {
        function setupAutocomplete(inputSelector, hiddenSelector, suggestionsSelector, url) {
            const $input = $(inputSelector);
            const $hidden = $(hiddenSelector);
            const $suggestions = $(suggestionsSelector);
    
            $input.on("input", function () {
                const term = $input.val().trim();
                if (term.length < 2) {
                    $suggestions.hide();
                    return;
                }
    
                $.ajax({
                    url: url,
                    data: { term: term },
                    dataType: "json",
                    success: function (data) {
                        $suggestions.empty().show();
                        if (data.length === 0) {
                            $suggestions.hide();
                            return;
                        }
                        data.forEach((item) => {
                            $suggestions.append(
                                `<div class="suggestion-item" data-id="${item.id}" data-value="${item.value}">${item.label}</div>`
                            );
                        });
    
                        $(".suggestion-item").on("click", function () {
                            const value = $(this).data("value");
                            const id = $(this).data("id");
    
                            $input.val(value);
                            $hidden.val(id);
                            $suggestions.hide();
                        });
                    },
                });
            });
    
            $(document).on("click", function (e) {
                if (!$(e.target).closest($suggestions).length && !$(e.target).is($input)) {
                    $suggestions.hide();
                }
            });
        }
    
        setupAutocomplete(
            "#correo", // Input del correo
            "#correo_id", // Campo oculto para ID del correo
            "#correo_suggestions", // Contenedor de sugerencias
            "/buscar_correo/" // URL de búsqueda
        );
    });
    
    
</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const productosConBajoStock = [{% for producto in productos %}{% if producto.stock < 5 %}{{ producto.producto_id }}, {% endif %}{% endfor %}];
        
        if (productosConBajoStock.length > 0) {
            document.getElementById('alerta-bajo-stock').style.display = 'block';
        }
    });
</script>

<script>
    $(document).ready(function () {
        // Cargar el formulario dinámicamente al abrir el modal
        $('#registrarProductoModal').on('show.bs.modal', function () {
            console.log("Cargando formulario de registro de producto para factura...");
            $.get("{% url 'reg_prod_factura' %}", function (data) {
                $('#modal-body-content').html(data);
            });
        });

        // Procesar el envío del formulario mediante AJAX
        $('#modal-body-content').on('submit', '#reg-prod-factura-form', function (e) {
            e.preventDefault();
            $.ajax({
                url: "{% url 'reg_prod_factura' %}",
                type: "POST",
                data: $(this).serialize(),
                success: function (data) {
                    if (data.success) {
                        $('#registrarProductoModal').modal('hide');
                        location.reload();
                    } else {
                        $('#modal-body-content').html(data.html_form);
                    }
                },
            });
        });
    });
</script>


{% endblock %}
