{% extends 'app/base.html' %}
{%load static%}
{% block contenido %}
{% comment %} <h1>Mi Negocio</h1> {% endcomment %}

<!-- Perfil del Staff -->
<section id="perfil-staff" class="info-staff">
    <div class="card card-info" style="width:100%;">
    <h2>Perfil del Staff</h2>
    </div>
    <div class="card card-interna">
        <div class="card-body card-dbody">
            
           

            <h4 class="card-title">{{ staff.username }}</h4>
            
            <div class="borderP">
            <p class="card-text">Correo: {{ staff.email }}</p>
            <p class="card-text">Nombre completo: {{ staff.first_name }} {{ staff.last_name }}</p>
            </div>
            <a href="{% url 'change_password' %}" class="btn btn-secondary mt-3 miBoton">Cambiar Contraseña</a>
           
        </div>
    </div>
    </section>

        <!-- Dashboard -->
        <section id="dashboard" class="mt-2 dashboard">
        
        <h2>Dashboard</h2>
            <div class="miDashboard" >
                <div class="col-md-9 columna-interna">
                    <div class="card">
                        <div class="card-body text-xl-center">
                            <h4>Total de Ventas</h4>
                            <p>${{ total_ventas }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 columna-interna">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4>Promedio Diario de Ventas</h4>
                            <p>${{ promedio_ventas_diario }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9  columna-interna">
                    <div class="card">
                        <div class="card-body text-lg-center">
                            <h4>Producto Más Vendido</h4>
                            <p>{{ producto_mas_vendido.nombre }} ({{ producto_mas_vendido.cantidad_total }} vendidos)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>


  {% comment %}      
    </div> {% endcomment %}




 <!-- Ventas Totales -->
 
           
    
    {% comment %} <div class="card"> {% endcomment %}
<section id="ventas-totales" class="mt-4"  style="transform:translate(-10px, 42px);">
    <div class="card"> 
        <h2>Ventas Realizadas</h2>
    </div>
           {% comment %}  <table class="table table-bordered table-hover"> {% endcomment %}
        
                <div class="table-container" style="min-height:600px; width:800px">
                    <table class="table">
                <thead>
                    <tr>
                        <th>ID Compra</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Productos Comprados</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for compra in compras %}
                    <tr>
                        <td data-label="ID">{{ compra.id }}</td>
                        <td data-label="Fecha">{{ compra.fecha }}</td>
                        <td data-label="Total">${{ compra.total }}</td>
                        <td data-label="P.Comprados">
                            <ul>
                                {% for detalle in compra.detalles.all %}
                                <li style="list-style-type: none;">{{ detalle.producto.nombre }} ({{ detalle.cantidad }} x {{ detalle.precio_unitario }})</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href="#" class="btn btn-warning btn-sm">Anular</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</section>

{% endblock %}
