{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}

<div class="card">
    <div class="row">
        <!-- Sección de productos -->
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Lista de Productos</b></h4>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled">
                {% for producto in productos %}
                <li class="product-item row main align-items-center border-top border-bottom py-3">
                    <div class="col-2">
                        <div class="row text-muted">{{ producto.nombre }}</div>
                    </div>
                    <div class="col">
                        <div class="row">{{ producto.descripcion }}</div>
                    </div>
                    <div class="col">
                        <span class="product-price">{{ producto.precio }} CLP</span>
                    </div>
                    <div class="col product-actions">
                        <form method="post" action="{% url 'agregar_al_carrito' producto.producto_id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Añadir al carrito</button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Sección del carrito -->
        <div class="col-md-4 summary">
            <div><h5><b>Resumen del carrito</b></h5></div>
            <hr>
            {% if carrito_items %}
            <ul class="list-unstyled">
                {% for item in carrito_items %}
                <li class="cart-item d-flex justify-content-between align-items-center border-bottom py-3">
                    <div class="product-name">{{ item.producto.nombre }}</div>
                    <div class="cart-controls d-flex">
                        <form method="post" action="{% url 'restar_producto' item.producto.producto_id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-secondary">-</button>
                        </form>
                        <input type="number" value="{{ item.cantidad }}" readonly class="form-control text-center" style="width: 50px;">
                        <form method="post" action="{% url 'agregar_al_carrito' item.producto.producto_id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-secondary">+</button>
                        </form>
                    </div>
                    <div class="product-price text-right">{{ item.total_precio }} CLP</div>
                    <form method="post" action="{% url 'eliminar_del_carrito' item.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger ms-3">x</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
            <div class="row border-top py-3">
                <div class="col">Total productos: {{ carrito_total_cantidad }}</div>
                <div class="col text-right">Total: {{ carrito_total }} CLP</div>
            </div>
            <form method="post" action="{% url 'confirmar_compra' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success w-100 mt-3">Confirmar Compra</button>
            </form>
            {% else %}
            <p>Tu carrito está vacío.</p>
            {% endif %}
        </div>
    </div>
</div>
<script src="{% static 'app/js/carro.js' %}"></script>
{% endblock %}