{% extends 'app/base.html' %}
{%load static%}
{% load custom_filters %}
{% block contenido %}
{% comment %} <h1>Mi Negocio</h1> {% endcomment %}


<!-- Perfil del Staff -->
<section id="perfil-staff" class="info-staff home">
    <div class="card ihome" style="width:100%;">
    <h2>Perfil del Staff</h2>
    </div>
    <div class="card t-interna">
        <div class="card-body">
            
            <h4 class="card-title">{{ staff.username }}</h4>
            
            <div class="borderP">
            <p class="card-text">Correo: {{ staff.email }}</p>
            <p class="card-text">Nombre completo: {{ staff.first_name }} {{ staff.last_name }}</p>
            </div>
            <a href="{% url 'change_password' %}" class="btn btn-secondary mt-3 miBoton">Cambiar Contraseña</a>
           
        </div>
    </div>
    </section>
    
{% comment %} graficos {% endcomment %}

<section class="sectionGraficos dshome dashboardgraf">

    <div class="miDashboard ds-dash cont-graficos">
{% comment %}     <div class="card envolt"> {% endcomment %}
    <div class="card grafico">
        <div class="card-body text-center infoTexto">
            <h5>Ventas del Mes</h5>
           {% comment %}  <p>{{ total_ventas }}</p> {% endcomment %}
        <div class="card cardGrafo">
            grafico
        </div>
        </div>
    </div>
{% comment %} </div> {% endcomment %}
{% comment %} <div class="card envolt"> {% endcomment %}
    <div class="card grafico">
        <div class="card-body text-center infoTexto">
            <h5>Ventas Acumuladas del año</h5>
           {% comment %}  <p>${{ total_ventas }}</p> {% endcomment %}
     
           <div class="card cardGrafo">
            grafico
        </div>
        
        </div>
    </div>
{% comment %} </div> {% endcomment %}
{% comment %} <div class="card envolt"> {% endcomment %}
    <div class="card grafico">
        <div class="card-body text-center infoTexto">
            <h5>IVA Acumulado</h5>
            {% comment %} <p>${{ total_ventas }}</p> {% endcomment %}
            <div class="card cardGrafo">
                grafico
            </div>
        </div>
    </div>

</div>
{% comment %} </div> {% endcomment %}

</section>

        <!-- Dashboard -->
        <section id="dashboard" class="mt-2 dashboard dshome">
        
        <h2>Dashboard</h2>
       
            <div class="miDashboard ds-dash">
             {% comment %}    <div class="col-md-3 columna-interna colint"> {% endcomment %}
                    <div class="card tdv">
                        <div class="card-body text-center">
                            <h4>Total de Ventas</h4>
                            <p>{{ total_ventas|clp }}</p>
                        </div>
                    </div>
                {% comment %} </div> {% endcomment %}
               {% comment %}  <div class="col columna-interna colint"> {% endcomment %}
                    <div class="card pdv">
                        <div class="card-body text-center">
                            <h5>Promedio Diario de Ventas</h5>
                            <p>{{ promedio_ventas_diario|clp }}</p>
                        </div>
                    </div>
                {% comment %} </div> {% endcomment %}
               {% comment %}  <div class="col-md-4  columna-interna colint"> {% endcomment %}
                    <div class="card pmv">
                        <div class="card-body text-center">
                            <h5>Producto Más Vendido</h5>
                            <p>{{ producto_mas_vendido.nombre }} ({{ producto_mas_vendido.cantidad_total }} vendidos)</p>
                        </div>
                    </div>
                {% comment %} </div> {% endcomment %}
               {% comment %}  <div class="col-md-4  columna-interna colint"> {% endcomment %}
                    <div class="card iva">
                        <div class="card-body text-center">
                            <h4>producto Menos Vendido</h4>
                            <p>{{ producto_mas_vendido.nombre }} ({{ producto_mas_vendido.cantidad_total }} vendidos)</p>
                        </div>
                    </div>
                {% comment %} </div> {% endcomment %}
            </div>
        </div>
    </div>
</section>






 <!-- Ventas Totales -->    
    {% comment %} <div class="card"> {% endcomment %}
        <section id="ventas-totales" class="mt-4 sectionVenta">
            <div class="card infoVenta"> 
                <h3>Ventas Realizadas</h3>
            </div>
            {% comment %}  <table class="table table-bordered table-hover"> {% endcomment %}
                <div class="env"> 
                    <div class="table-container contVenta">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Total</th>
                                    <th>Productos Comprados</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for compra in compras %}
                                <tr>
                                    <td data-label="Fecha">{{ compra.fecha }}</td>
                                    <td data-label="Total">${{ compra.total }}</td>
                                    <td data-label="P.Comprados">
                                        <ul>
                                            {% for detalle in compra.detalles.all %}
                                            <li style="list-style-type: none;">{{ detalle.producto.nombre }} ({{ detalle.cantidad }} x {{ detalle.precio_unitario }})</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-warning btn-sm">Anular</a>
                                        <a href="{% url 'detalle_compra' compra.id %}" class="btn btn-info btn-sm">Detalles</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Controles de paginación -->
                    <div class="pagination">
                        {% if compras.has_previous %}
                            <a href="?page=1">Primera</a>
                            <a href="?page={{ compras.previous_page_number }}">Anterior</a>
                        {% endif %}
            
                        <span>Página {{ compras.number }} de {{ compras.paginator.num_pages }}</span>
            
                        {% if compras.has_next %}
                            <a href="?page={{ compras.next_page_number }}">Siguiente</a>
                            <a href="?page={{ compras.paginator.num_pages }}">Última</a>
                        {% endif %}
                    </div>
                </div>
            </section>
            




{% comment %} <div class="c-graficos">
    damian
</div>
 {% endcomment %}

{% endblock %}
